body {
  margin: 0;
  padding: 0;
  background: $color-primary;
  font-family: arial;
}

.container{
  margin-top: $container-top-margin;
  width: $container-width;
  margin-left:auto;
  margin-right: auto;
}
