$color-primary: #eee;
$color-secondary: #d2c8bc;

$color-1: $color-primary;
$color-2: $color-secondary;
$color-3: #494949;
$color-4: #e8404d;

$white: white;

$font-general: arial;
$font-special: 'Noto Serif', serif;


$accommodation-image-normal: 120px;

/* Mainmenu mixins */
$mainmenu-link-padding: 15px;
$mainmenu-link-fontsize: 17px;
$mainmenu-link-lineheight: $mainmenu-link-fontsize;
$container-top-margin: ($mainmenu-link-padding * 2) + $mainmenu-link-fontsize;
