<div class="about">
  <h1 class="about-title">Over waddenzee</h1>

  <!-- General information -->
  <div class="about-general">
    <h3 class="about-general-subtitle">Algemene informatie</h3>
    <p class="about-general-info">Wie er is geweest zal het herkennen wanneer we zeggen dat een bezoek aan één van de waddeneilanden onvergetelijk is. Althans wij komen er al vele jaren met veel plezier en vinden dat iedereen kennis zou moeten maken met de waddeneilanden.</p>
  </div>

  <!-- Property tenants -->
  <div class="about-property-tenants">
    <h3 class="about-property-tenants-subtitle">Informatie voor bezoekers</h3>
    <p class="about-property-tenants-info">Informatie voor bezoekers</p>
  </div>

  <!-- Property owners -->
  <div class="about-property-owners">
    <h3 class="about-property-owners-subtitle">Informatie voor accommodatie houders</h3>
    <p class="about-property-tenants-info">
      U kunt kosteloos uw accomodatie laten indexeren op onze website.
    </p>
  </div>

</div>

