<div class="about">
  <h1 class="about-title">Over waddenzee</h1>
  <!-- Property tenants -->
    <h3 class="about-subtitle" id="property-tenants">Informatie voor bezoekers</h3>
    <p>Informatie voor bezoekers</p>

  <!-- Property owners -->
    <h3 class="about-subtitle" id="property-owners">Informatie voor accommodatie houders</h3>
    <p>Informatie voor accomodatie houders</p>
</div>

