.mainmenu{
  display:inline-block;
}

.mainmenu-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.mainmenu-list-item{
  display: inline-block;
}

.mainmenu-list-item-link{
  color: $color-dark-blue;
  font-family: $font-general;
  font-weight: 600;
  text-decoration: none;
  display: block;
  font-size: $mainmenu-link-fontsize;
  padding: $mainmenu-link-padding;
  line-height: $mainmenu-link-lineheight;
}
