<ul class="mainmenu-list">
  <li class="mainmenu-list-item">
    <%= link_to "Beginpagina", root_path, class:'mainmenu-list-item-link' %>
  </li>
  <li class="mainmenu-list-item">
    <%= link_to "Over ons", about_path, class:'mainmenu-list-item-link' %>
  </li>
  <li class="mainmenu-list-item">
    <%= link_to "Accommodaties", accommodations_path, class:'mainmenu-list-item-link' %>
  </li>
</ul>
