<div class="accommodation">
  <ul class="accommodation-list">
    <li class="accommodation-list-item">
      <h3 class="accommodation-list-item-name">accommodation</h3>
      <img class="accommodation-list-item-image" src="#">
      <p class="accommodation-list-item-intro">
        Here's text about the accommodation.
      </p>
    </li>
  </ul>
</div>
